.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    width: 220px;
    height: 220px;
    background: var(--main-bg);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    cursor: pointer;
}

.card_img_div{
    width: 100%;
    height:160px;
}

.card_img {
    width: 100%;
    height: 150px;
}

.cards_btns{
    width: 100%;
}

.product_btn{
    width: 50%;
    color: var(--main-color);
    background : transparent;
    text-decoration: none;
}

.edit_btn{
    width: 50%;
    color: var(--main-color);
    background : transparent;
    text-decoration: none;
}
