.navbar_wrapper{
    display: flex;
    height : 48px;
    align-items: center;
    background: var(--main-bg);
    padding: 0 20px;
    position: sticky;
    z-index: 10;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.navbar_theme_icon:hover,
.navbar_theme_icon:hover .icons {
    background: var(--second-color);
    color: var(--txt-white);
    cursor: pointer;
    border-radius: 50%;
}
.navbar_menu_icon{
    border-radius: 50%;
}
.navbar_menu_icon:hover,
.navbar_menu_icon:hover .icons{
    background: var(--second-color);
    color: var(--txt-white);
    cursor: pointer;
}
.menu_icon{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_logo{
    margin-left: auto;
}

.navbar_profile{
    margin-left: auto;
}

.navbar_theme_icon{
    margin-left: 20px;
    border-radius: 50%;
}