{
    "presets" : [
        [
            "@babel/preset-env",
            {"debug" : true ,"useBuiltins" : "entry" ,"corejs": 3}
        ],
        [
            "@babel/preset-react",
            {
              "runtime": "automatic"
            }
          ]
    ]
}