.orders_top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.order_info{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.order_item_table{
    width : 100%;
    padding: 10px;
}
.order_total_table{
    width : 100%;
    padding: 10px;
}

.order_btns{
    display: flex;
    padding: 0 20px;
}

.order_delete_btn{
    margin-left: auto;
    background: red !important;
}